# Data Acquistion Lesson

In [1]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import os
import acquire

## People

In [2]:
url = 'https://web-scraping-demo.zgulde.net/people'
response = get(url)
response

In [3]:
# print(response.text[775:1750])

In [4]:
# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
# Use soup to 
people = soup.select('div.grid.grid-cols-2.gap-x-3')

In [6]:
person = people[0]

In [7]:
#person

In [8]:
#person.find('h2').text

In [9]:
#person.find_all('p')

In [10]:
#[p.text for p in person.find_all('p')]

In [11]:
def parse_people(person):
    '''
    Funciton to scrape individual peoples data from example page
    '''
    # Create blank dictionary
    output = {}
    # Assign a name column
    output['Name'] = person.find('h2').text
    # Assign the rest of the columns
    output['quote'], output['email'], output['phone'], output['address'] = [p.text for p in person.find_all('p')]
    return output

In [12]:
#print(parse_people(person))

In [13]:
pd.DataFrame([parse_people(person) for person in people])

,Name,quote,email,phone,address
0,David Dickerson,"\n ""Front-line exuding customer loy...",taylornathan@yahoo.com,752-562-0032x2323,\n 7076 Hudson Motorway \n ...
1,Shannon White,"\n ""Right-sized motivating superstr...",amandarodriguez@smith-knox.info,+1-379-267-1350x971,\n 221 Kyle Circle \n ...
2,Victor Smith,"\n ""Compatible methodical support""\...",hfernandez@valencia.com,414.248.9473x175,\n 1658 Sandra Course Apt. 367 ...
3,Matthew Meyer,"\n ""Down-sized disintermediate inte...",milesjennifer@yahoo.com,698.727.2556,\n 345 Davis Points Suite 033 \...
4,Brian Miller,"\n ""Reduced 5thgeneration toolset""\...",christinamoreno@hotmail.com,(531)474-6214x26660,\n 36164 Katherine Pike Suite 3...
5,Todd Solis,"\n ""Compatible well-modulated migra...",russell29@yahoo.com,557.433.8204,\n 158 Lauren Valleys Apt. 520 ...
6,Jonathan Solomon,"\n ""User-centric cohesive strategy""...",amandacoleman@hotmail.com,542.791.3194,\n 408 Rose Track Apt. 770 \n ...
7,Shawn Melton,"\n ""Seamless impactful moratorium""\...",jose16@taylor.com,+1-463-464-6826x6919,\n 79276 Mary Common \n ...
8,Crystal Cruz,"\n ""Compatible empowering forecast""...",reneewilkins@manning.com,105-526-9666x54004,\n 3714 Lynch Hill \n ...
9,Jesse Small,"\n ""Re-contextualized transitional ...",marcblevins@gmail.com,471-581-9043x057,\n 4374 Clarke Causeway Apt. 65...

## News

In [14]:
url = 'https://web-scraping-demo.zgulde.net/news'
response = get(url)
response

In [15]:
#print(response.text[:400])

In [16]:
# Make a soup variable holding the response content
soup = BeautifulSoup(response.text, 'html.parser')

In [17]:
articles = soup.select('div.grid.grid-cols-4')

In [18]:
article = articles[0]
article.find('p')

In [19]:
def parse_news_article(article):
    output = {}
    output['headline'] = article.find('h2').text
    output['date'], output['byline'], output['description'] = [p.text for p in article.find_all('p')]
    return output

In [20]:
pd.DataFrame([parse_news_article(article) for article in articles])

,headline,date,byline,description
0,group down cell,1979-04-21,By Thomas James,Add wrong west yourself candidate win just. Ou...
1,town season everything,1999-03-20,By Veronica Smith DVM,Bad rock coach. Wish little western teach musi...
2,herself method price,2019-05-04,By Ryan Meyer,Teach write call. Message process two data agr...
3,blood task station,1976-03-23,By Robert Donovan,Deal thousand second operation. Paper morning ...
4,inside not raise,1986-06-03,By Molly Reid,Strategy begin car. Recognize almost must mayb...
5,affect wait writer,2011-06-06,By Margaret Rasmussen,Race my avoid. Indicate notice financial mouth...
6,open democratic me,1991-10-31,By Tara Mcdaniel,Improve senior morning hotel her Congress buil...
7,ability ball evidence,1976-12-14,By Paula Elliott,Attorney though later yes. Wide eat hold socie...
8,direction subject region,1992-10-14,By Steven Patton,Treat focus care end. Perhaps assume and littl...
9,about pretty court,1981-01-06,By John Brewer,Stop together treatment hear step debate fire....
10,effort my scene,2009-12-20,By Christine Johnson,Cultural card economic pass much. Six entire a...
11,camera hundred whole,1972-04-27,By Kristin Ross,Attack example actually amount rate. Not perfo...

# Data Acquisition Exercises

## 1) Codeup Blog Articles

Visit Codeup's Blog and record the urls for at least 5 distinct blog posts. For each post, you should scrape at least the post's title and content.

### Article 1

In [21]:
url = 'https://codeup.com/workshops/from-bootcamp-to-bootcamp-a-military-appreciation-panel/'
headers = {'user-agent': 'Innis Data Science Cohort'}
response = get(url, headers=headers)

# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

title = soup.find('h1').text

content = ''
for span in soup.select('span'):
    content += span.text

title, content

('From Bootcamp to Bootcamp | A Military Appreciation Panel',
 '\n\nApr 27, 2022In honor of Military Appreciation Month, join us for a discussion with Codeup Alumni who are also Military Veterans! We will chat about their experiences attending a coding bootcamp, and how their military training set them up for success here at Codeup. Grab your virtual seat now so you can be sent the exclusive Livestream link on the 11th! Thank you to our panelists for participating: Christopher AguirreTaryn McKenzie Desiree McElroy And thanks to Codeup’s Trey Iapachino who is also an Air Force Veteran! FollowFollowFollowFollowFollowWe use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits. By clicking “Accept”, you consent to the use of ALL the cookies. No worries, we do not sell your personal information..Cookie SettingsAcceptManage consentCloseAlways EnabledFunctionalPerformanceAnalyticsAdvertisementOthers')

### Article 2

In [22]:
url = 'https://codeup.com/featured/our-acquisition-of-the-rackspace-cloud-academy-one-year-later/'
headers = {'user-agent': 'Innis Data Science Cohort'}
response = get(url, headers=headers)

# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

title = soup.find('h1').text

content = ''
for span in soup.select('span'):
    content += span.text

title, content

('Our Acquisition of the Rackspace Cloud Academy: One Year Later',
 '\n\nApr 14, 2022Just about a year ago on April 16th, 2021 we announced our acquisition of the Rackspace Cloud Academy! For a short time after the acquisition, it was rebranded as the Codeup Cloud Academy and is now a full-time part of the Codeup brand. You can read our blog when we announced this last year by clicking here.\xa0To look back at the past year, we checked in with Marcus Benavidez and Mike Jaime who stayed with Codeup after previously working with the Rackspace Cloud Academy. We also checked in with Dimitri Antoniou who is our VP of Strategic Initiatives and helped with the merger of the two companies. We asked them questions about the current campus, and also what the future may look like at Codeup’s new “Castle” campus.\xa0 Its history! Rackspace and former Rackers were instrumental in jumpstarting the tech industry here in San Antonio. This includes Geekdom, where Codeup was established. The Castle is where Rackspace ultimately decided to call its international headquarters.\xa0 The campus is designed with the student experience in mind. This includes the large classrooms and facilities to match. It’s a piece of San Antonio history as it’s on the Rackspace Campus.\xa0 The Castle has been a staple of tech in San Antonio for years. Train new tech employees in high-growth careers like Cloud Administration from the Castle campus is an exciting extension of the legacy of Rackspace’s impact on San Antonio. A way to implement a version of “Rookie O” across staff and cohorts.\xa0I would love to see some kind of Alumni wall or recognition for Alumni past, present, and future.\xa0It will be awesome once Web Development and Data Science programs are approved on this campus. I am looking forward to the cross-pollination of technologies, students, and staff.\xa0 Maybe we will have our own mall to ourselves one day: If you’re looking to get your foot in the door, I think it’s a no-brainer as you will be learning AWS administration, which is the most in-demand cloud computing platform. Also, the decision to focus on hands-on experience and know-how as opposed to certification exam memorization will better prepare students with practical knowledge. Do it. The time to positively impact your life and to create change is now. Skills in networking, Linux, and AWS can put you on a path to so many different careers, including cybersecurity and cloud architecture. These are some of the highest growth and most exciting pathways in technology. With experienced experts like Jeremy Price and Kris Connolly to teach you, there’s no better way to open doors in IT.: Cybersecurity again! Also Web Development and Data Science as well.\xa0: We should continue to build and offer classes that align with the market [i.e. what skills are in high demand].\xa0 AWS is one of 3 major cloud providers, along with Microsoft Azure and Google Cloud. I think it won’t be long until we’re training a variety of cloud careers across all major players. Air Hockey and Shuffle Board Vintage Arcade games would be awesome!\xa0 There’s so much open space – I’d love to run a nerf gun or dodgeball tournament!Tinkerers, computer enthusiasts, mechanics, or really anyone who likes to fix and build things will love our brand new Cloud Administration program. The foundation of skills you will learn could land you a job in Cloud Architecture, Cybersecurity, DevOps, & Solutions Engineering. You will learn new skills in just 15 weeks, and won’t break the bank like a traditional 4-year college degree. Our next class starts on 5/31.\xa0Our Castle campus includes the following perks:\xa0Hands-on labs to get real-time hands-on experienceLive classroom instructionPing pong and foosball tables\xa0Lots of comfortable seating options to break out and study or just relax\xa0A large cafeteria area\xa0Free Coffee, Tea, Water, and Soda\xa0We also have a vending machine for additional drinks and snacks\xa0Free covered parking\xa0Located at Rackspace’s headquarters\xa0If you are looking to change your career, there is no better time than now! Classes for this new program will fill up fast so don’t delay!FollowFollowFollowFollowFollowWe use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits. By clicking “Accept”, you consent to the use of ALL the cookies. No worries, we do not sell your personal information..Cookie SettingsAcceptManage consentCloseAlways EnabledFunctionalPerformanceAnalyticsAdvertisementOthers')

### Article 3

In [23]:
url = 'https://codeup.com/workshops/virtual/learn-to-code-html-css-on-4-30/'
headers = {'user-agent': 'Innis Data Science Cohort'}
response = get(url, headers=headers)

# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

title = soup.find('h1').text

content = ''
for span in soup.select('span'):
    content += span.text

title, content

('Learn to Code: HTML & CSS on 4/30',
 '\n\nApr 1, 2022HTML & CSS are the design building blocks of all the websites you interact with on a daily basis. Attend this workshop to understand how it works and get some hands-on experience with coding! No prior experience is necessary!Materials to bring:A laptop – any kind! It just must be able to connect to WiFiYour smiling face! Note: Must be 17+ years old to participate and live in the United StatesFollowFollowFollowFollowFollowWe use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits. By clicking “Accept”, you consent to the use of ALL the cookies. No worries, we do not sell your personal information..Cookie SettingsAcceptManage consentCloseAlways EnabledFunctionalPerformanceAnalyticsAdvertisementOthers')

### Article 4

In [24]:
url = 'https://codeup.com/workshops/virtual/learn-to-code-python-workshop-on-4-16/'
headers = {'user-agent': 'Innis Data Science Cohort'}
response = get(url, headers=headers)

# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

title = soup.find('h1').text

content = ''
for span in soup.select('span'):
    content += span.text

title, content

('Learn to Code: Python Workshop on 4/23',
 '\n\nMar 31, 2022According to LinkedIn, the “#1 Most Promising Job” is data science! But we here at Codeup understand changing careers can be a daunting idea. That’s where our free Learn to Code workshops come in!\xa0What is data science? What is Python? If you’re curious, join for free to learn the basics of Python from our very own instructors and get an introduction to the field of Data Science. This is all done from the comfort of home.Save your seat quickly – our Python workshops are always in high demand! What you need:1. Laptop (does not matter what kind). You need to be able to access WiFi and run an internet browser.2. To RSVP!FollowFollowFollowFollowFollowWe use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits. By clicking “Accept”, you consent to the use of ALL the cookies. No worries, we do not sell your personal information..Cookie SettingsAcceptManage consentCloseAlways EnabledFunctionalPerformanceAnalyticsAdvertisementOthers')

### Article 5

In [25]:
url = 'https://codeup.com/codeup-news/vet-tec-funding-dallas/'
headers = {'user-agent': 'Innis Data Science Cohort'}
response = get(url, headers=headers)

# Make a soup variable holding the response content
soup = BeautifulSoup(response.content, 'html.parser')

title = soup.find('h1').text

content = ''
for span in soup.select('span'):
    content += span.text

title, content

('VET TEC Funding Now Available For Dallas Veterans',
 '\n\nJan 7, 2022Details about the event and the link to grab your free tickets can be found here.\xa0Are you eligible to use VET TEC funding?To qualify for VET TEC, you must:When is VET TEC funding available?VET TEC renews its funding on an annual cycle in October.\xa0IMPORTANT:\xa0Funds run out very quickly each year. If you’re interested in using VET TEC, we recommend applying immediately and going through our admissions process as quickly as possible. That way, you’ll be accepted early and we can certify your enrollment as soon as VET TEC funding becomes available from the VA.FollowFollowFollowFollowFollowWe use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits. By clicking “Accept”, you consent to the use of ALL the cookies. No worries, we do not sell your personal information..Cookie SettingsAcceptManage consentCloseAlways EnabledFunctionalPerformanceAnalyticsAdvertisementOthers')

### Encapsulate your work in a function named get_blog_articles that will return a list of dictionaries, with each dictionary representing one article. The shape of each dictionary should look like this:

Plus any additional properties you think might be helpful.

Bonus: Scrape the text of all the articles linked on codeup's blog page.

{
    'title': 'the title of the article',
    'content': 'the full text content of the article'
}

In [26]:
def get_blog_urls():  
    
    url = 'https://codeup.com/blog/'
    headers = {'user-agent': 'Innis Data Science Cohort'}
    response = get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')
    
    urls = [a.attrs['href'] for a in soup.select('a.more-link')]
    
    return urls

In [30]:
def get_article_info(url):

    headers = {'user-agent': 'Innis Data Science Cohort'}
    response = get(url, headers=headers)
    soup = BeautifulSoup(response.content, 'html.parser')

    title = soup.select_one('h1.entry-title').text
    published = soup.select_one('.published').text
    content = soup.select_one('.entry-content').text.strip()

    return {'Title': title, 'Published': published, 'Content': content}

In [31]:
def get_blog_articles():
    urls = get_blog_urls()
    articles = []
    
    for url in urls:
        articles.append(get_article_info(url))
    df = pd.DataFrame(articles)
    return df

In [32]:
df = get_blog_articles()

In [33]:
df

,Title,Published,Content
0,Learn to Code: Python Workshop on 4/23,"Mar 31, 2022","According to LinkedIn, the “#1 Most Promising ..."
1,Coming Soon: Cloud Administration,"Mar 17, 2022",We’re launching a new program out of San Anton...
2,5 Books Every Woman In Tech Should Read,"Mar 8, 2022",On this International Women’s Day 2022 we want...
3,Codeup Start Dates for March 2022,"Jan 26, 2022",As we approach the end of January we wanted to...
4,VET TEC Funding Now Available For Dallas Veterans,"Jan 7, 2022",We are so happy to announce that VET TEC benef...
5,Dallas Campus Re-opens With New Grant Partner,"Dec 30, 2021",We are happy to announce that our Dallas campu...
6,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",Our Placement Team is simply defined as a grou...
7,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","AWS, Google, Azure, Red Hat, CompTIA…these are..."
8,A rise in cyber attacks means opportunities fo...,"Nov 17, 2021","In the last few months, the US has experienced..."
9,Use your GI Bill® benefits to Land a Job in Tech,"Nov 4, 2021","As the end of military service gets closer, ma..."
10,Which program is right for me: Cyber Security ...,"Oct 28, 2021",What IT Career should I choose?\nIf you’re thi...
11,What the Heck is System Engineering?,"Oct 21, 2021",Codeup offers a 13-week training program: Syst...
12,From Speech Pathology to Business Intelligence,"Oct 18, 2021","By: Alicia Gonzalez\nBefore Codeup, I was a ho..."
13,Boris – Behind the Billboards,"Oct 3, 2021",
14,Is Codeup the Best Bootcamp in San Antonio…or ...,"Sep 16, 2021",Looking for the best data science bootcamp in ...

In [34]:
df = acquire.get_blog_articles()

In [35]:
df.head()

,Title,Published,Content
0,Learn to Code: Python Workshop on 4/23,"Mar 31, 2022","According to LinkedIn, the “#1 Most Promising ..."
1,Coming Soon: Cloud Administration,"Mar 17, 2022",We’re launching a new program out of San Anton...
2,5 Books Every Woman In Tech Should Read,"Mar 8, 2022",On this International Women’s Day 2022 we want...
3,Codeup Start Dates for March 2022,"Jan 26, 2022",As we approach the end of January we wanted to...
4,VET TEC Funding Now Available For Dallas Veterans,"Jan 7, 2022",We are so happy to announce that VET TEC benef...

## 2) News Articles

We will now be scraping text data from inshorts, a website that provides a brief overview of many different topics.

Write a function that scrapes the news articles for the following topics:

- Business
- Sports
- Technology
- Entertainment

The end product of this should be a function named get_news_articles that returns a list of dictionaries, where each dictionary has this shape:

Hints:

- Start by inspecting the website in your browser. Figure out which elements will be useful.
- Start by creating a function that handles a single article and produces a dictionary like the one above.
- Next create a function that will find all the articles on a single page and call the function you created in the last step for every article on the page.
- Now create a function that will use the previous two functions to scrape the articles from all the pages that you need, and do any additional processing that needs to be done.

{
    'title': 'The article title',
    'content': 'The article content',
    'category': 'business' # for example
}

## Bonus: cache the data

- Write your code such that the acquired data is saved locally in some form or fashion. 
- Your functions that retrieve the data should prefer to read the local data instead of having to make all the requests everytime the function is called. 
- Include a boolean flag in the functions to allow the data to be acquired "fresh" from the actual sources (re-writing your local cache).